<div id="banner">
    <h1>Restaurants</h1>
    <h2>Discover our universe</h2>
</div>

<div class="container-card">
    <% @restaurants.each do |restaurant| %>
      <div id="card">
        <%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      </div>
    <% end %>
</div>

<div class="container-card">
  <div id="add-restaurant">
  <%= link_to new_restaurant_path(@restaurants) do%>
    <i class="fa-solid fa-plus pr-10"></i> Add a new restaurant
  <% end %>
  </div>
</div>
